# Dependencies
/node_modules

# Next.js build and development output
/.next
/out

# Production output
/build

# Local environment files
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Platform and tooling files
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
